@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
  --font-family: 'Inter', 'sans-serif', 'helvetica', 'arial';
  --color-nav-text: whitesmoke;
}

html, #root, .App {
  height: 100%;
}

/**
  Form Styles
**/

.form-wrapper {
  padding-bottom: 4rem;
}

#recipe-form {
  width: 100%;
  max-width: 500px;
  margin: auto;
  padding: 1rem;
}

.checkbox-container {
  width: 100%;

  font-family: var(--font-family);
}

#checkbox-container label {
  font-size: 1.2em;
}

.checkbox-item {
  transform: scale(1.5);
}

.checkbox-item, label {
  margin: .5rem 0;
}

label {
  font-family: var(--font-family);
}
#select-lists-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem 0;
}

#flavorProfile, #inspiredFrom {
  padding: .5em;
  width: 100%;
}
#form-submit {
  width: 200px;
  display: block;
  margin: auto;
  padding: .5em;
  border: none;
  background-color: rgb(0, 0, 0);
  font-size: 1.2em;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  font-family: var(--font-family);
}

